{
	"type":"tight",
	"polarized":
	{
		"tweet" : "#my2k",
		"file" : "GraphML-2272.xml"
	},
	"tight":
	{
		"tweet" : "#cmgrchat",
		"file" : "GraphML-2434.xml"
	},
	"brand":
	{
		"tweet" : "#apple",
		"file" : "GraphML-4681.xml"
	},
	"community":
	{
		"tweet" : "#flotus",
		"file" : "GraphML-2440.xml"
	},
	"broadcast":
	{
		"tweet" : "#krugman",
		"file" : "GraphML-2313.xml"
	}
}